<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="product shadow">
        <a href="<%= product_url(product) %>">
            <%= image_tag(product.image_url, class: "img-responsive") %>
            <div class="product-info">
                <h4><%= product.name %></h4>
                <p><%= product.description %></p>
                <strong>
                    $<%= product.price %></strong>
                <p><%= product.colour %></p>
                <p><%=  %></p>
            </div>
        </a>
    </div>
</div>
